<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="org.testNG.TransformClass"></listener>
</listeners>
<parameter name="helpseach" value="What's the Status of My Order?"></parameter>
<parameter name="product" value="watch"></parameter>
  <test name="Test">
    <classes>
      <class name="org.testNG.SignIn"/>
      <class name="org.testNG.HeaderProductClick"/>
      <class name="org.testNG.ProductAddToBasket"/>
      <class name="org.testNG.ProductAddToFav"/>
      <class name="org.testNG.FooterTesting"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->

